h1{
  color:#000;
}

.container1{
  background-color: #f00;
  width: 500px;
  height: 100px;
  color:#000;
}
.container2{
  background-color: #0f0;
  width: 520px;
  height: 100px;
  color:#000;
}
.container3{
  background-color: #00f;
  width: 550px;
  height: 100px;
  color:#000;
}
